.project-task-component{
  height: 95vh;
}

h2 {
  text-align: center;
  font-size: 30px;
}
h3{
  color: white;
}
.project-form-container {
  width: 100%;
    max-width: 800px;
    background-color: black;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 1px 7px rgba(0, 255, 255, 0.452);
}

.project-form-container label,
.project-form-container span,
.task-item div {
  color: #fbf8f8fe;
}

.tasks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  color: rgba(240, 255, 255, 0.941);
}

.tasks-header h3 {
  margin: 0;
  color: #8aa7b01c;
}

.tasks-header .add-task-btn {
  padding: 8px 12px;
  background: linear-gradient(to right, darkcyan, cyan, white);
  margin: 60px 0 0;
  color: black;
  font-weight: 500;
  border: 1px solid darkcyan;
}

.task-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
  margin: 20px 5px 0;
  font-weight: 500;
  border-bottom: 3px solid darkcyan;
  border-radius: 5px;
  padding: 10px 20px;
}

.task-item .edit-btn {
  background: linear-gradient(to right, darkcyan, cyan, white);
  margin: 30px 0 0;
  color: black;
  font-weight: 500;
  border: 1px solid darkcyan;
}

.priority{
  width: 100px;
}
