<section>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center mb-4">
                    <h2>Kanbanix</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-12 col-md-4 footer-section">
                    <h3>All Features</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Employee Monitoring Software</a></li>
                        <li><a href="#">User Activity Monitoring</a></li>
                        <li><a href="#">Project Management Software</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 footer-section">
                    <h3>Explore</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">All Features</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Kanbanix-Case Study</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 footer-section">
                    <h3>Get In Touch</h3>
                    <ul class="list-unstyled">
                        <li>Contacts</li>
                        <li><i class="fas fa-phone icon"></i> +91 82873 31331</li>
                        <li><i class="fas fa-phone icon"></i> +91 75660 63718</li>
                        <li><i class="fab fa-whatsapp icon"></i> +1 628 266 4356</li>
                        <li><a href="mailto:support@empmonitor.com">support&#64;Kanbanix.com</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 text-center mt-4">
                    <p>&copy; 2024 Kanbanix. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>


</section>