.container {
    padding: 2%;
    width: 50%;
    border-radius: 20px;
    border: 2px solid darkcyan;
    box-shadow: 1px 1px 15px darkcyan;
    margin: 3% auto 4%;
    text-align: center;
}

.full-width {
    width: 99%;
}

button {
    width: 100px;
    background: linear-gradient(to right, darkcyan, cyan, white);
    margin: 30px 0 0;
    color: black;
    font-weight: 500;
    border: 1px solid darkcyan;
    height: 35px;
    margin-right: 10px;
}

button:disabled {
    background: linear-gradient(to right, grey, darkgrey, white);
}

.btn-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}