<section class="user-view">
    <section>
        <h1>{{employee?.userName}}'s Kanban</h1>
    </section>
    <section class="user-kanban">
        <section class="assigned-task">
            <h2>Assigned Tasks</h2>
            <div class="task-list">
                <app-task-card [task]="task" *ngFor="let task of assignedList"></app-task-card>
            </div>
        </section>
        <section class="in-progress-task">
            <h2>In-Progress Tasks</h2>
            <div class="task-list">
                <app-task-card [task]="task" *ngFor="let task of inProgressList"></app-task-card>
            </div>
        </section>
        <section class="completed-task">
            <h2>Completed Tasks</h2>
            <div class="task-list">
                <app-task-card [task]="task" *ngFor="let task of completedList"></app-task-card>
            </div>
        </section>
    </section>
</section>
